<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="F23.StringSimilarity" version="5.0.0" targetFramework="net48" />
  <package id="ILMerge" version="3.0.41" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.42" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.42" targetFramework="net48" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="QRCoder" version="1.4.1" targetFramework="net452" />
</packages>